@media only screen and (min-width:961px) and (max-width: 1260px) {
    .slider__container {
        width: 100%;
    }
    .slider__item img {
        width: 100%;
        height: auto;
    }
    .slider__thumbNav {
        width: 166%;
    }
    .slider__thumbItem {
        width: 19.5%;
        height: auto;
    }
}

@media only screen and (max-width: 960px) {
    header div {
        padding: 0 .5rem;
    }
    .basket-content {
        display: none !important;
    }
    .tooltip {
        width: 400%;
        left: -150%;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        .image, .content {
        width: 100%;
        }
        .image {
            display: flex;
            justify-content: center;
        }
        img {
            width: 80%;
            margin: 2rem 0;
        }
        .content {
            p {
                width: 80%;
                margin: 0 auto;
                padding: 0;
                padding-top: 1rem;
                font-size: 1.2rem;
            }
        }
    }
    .main__container {
        display: flex;
        flex-wrap: wrap;
        margin: 2rem auto;
    }
    .slider, .product__container {
        width: 100%;
    }
}

@media only screen and (max-width: 680px) {
    .slider__container {
        width: 100%;
    }
    .slider__item img {
        width: 100%;
        height: auto;
    }
    .slider__thumbNav {
        width: 166%;
    }
    .slider__thumbItem {
        width: 19.5%;
        height: auto;
    }
    .product-form {
        width: 85%
    }
}

@media only screen and (max-width: 600px) {
    header {
        width: 100%;
        justify-content: flex-start;
    }
    header nav {
        width: 0 !important;
        display: none !important;
    }
    .hamburger {
        width: 50px;
    }
}

@media only screen and (max-width: 440px) {
      section {
          margin-top: 0;
          h2 {
            padding: 1rem 1rem 0 1rem;
          }
          img {
            width: 90%;
            margin: 1rem 0;
          }
          .content {
              p {
                width: 90%
              }
          }
      }
      .contact-container {
        width: 100%;
        margin: 0 auto;
        .contact-form {
            padding: 1rem;
        }
      }
      .product-form {
        width: 95%;
    }
}
