/* Coolors Exported Palette - coolors.co/315e71-774644-3f6e64-364751-4e2a12 */

/* HSL */
$color1: hsla(198%, 40%, 32%, 1);
$color2: hsla(2%, 27%, 37%, 1);
$color3: hsla(167%, 27%, 34%, 1);
$color4: hsla(202%, 20%, 26%, 1);
$color5: hsla(24%, 63%, 19%, 1);

/* RGB */
$blue: rgba(49, 94, 113, 1);
$lightred: rgba(119, 70, 68, 1);
$maingreen: rgba(63, 110, 100, 1);
$deepblue: rgba(54, 71, 81, 1);
$brown: rgba(78, 42, 18, 1);

// green colors

$deepgreen: rgba(7, 59, 58, 1);
$vividgreen: rgba(11, 110, 79, 1);
$lightgreen: rgba(107, 191, 89, 1);
$color5: rgba(221, 183, 113, 1);